.button {
	border: 0;
	padding: 0.6rem 1.9rem;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all 0.2s;
}
.button_submit {
	color: #fff;
	background-color: var(--siberian-blue);
	border-radius: 5px;
}
.button_submit:active,
.button_cancel:active {
	transform: scale(0.95);
}

.button_cancel {
	border-radius: 5px;
	background-color: #fff;
	color: var(--siberian-blue);
	border: 1px solid var(--siberian-blue);
}

.button_link {
	padding: 5px 0;
	margin: 0;
	position: relative;
	color: var(--siberian-blue);
	background-color: transparent;
}
.button_link::before {
	content: '';
	bottom: 0;
	right: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: var(--siberian-blue);
	transition: 0.2s;
}
.button_link:hover:before {
	width: 100%;
}

.button_icon {
	padding: 5px;
	margin: 5px;
	border: 0;
	background-color: transparent;
}
.button_icon:focus-visible {
	outline: auto;
}
