.card-layout {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	row-gap: 28px;
	column-gap: 20px;
}

.list-layout {
	display: flex;
	flex-direction: column;
	row-gap: 28px;
}
