.header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #f1f1f1;

	background-color: #fff;
}
.header__logo {
	width: 48px;
}
.header__nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 40px;
}
.header__link {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	color: var(--light-gray);
	border-bottom: 2px solid transparent;
}
.header__link_current {
	border-bottom: 2px solid var(--siberian-blue);
	color: var(--siberian-blue);
}
